In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\varshini\anaconda3\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\varshini\anaconda3\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\varshini\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\varshini\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\varshini\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\varshini\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [4]:
import pandas as pd 
import numpy as np

s = pd.Series() 
print("Pandas Series: ", s) 
data = np.array(['g', 'e', 'e', 'k', 's']) 
  
s = pd.Series(data) 
print("Pandas Series:\n", s)

Pandas Series:  Series([], dtype: object)
Pandas Series:
 0    g
1    e
2    e
3    k
4    s
dtype: object

In [5]:
import pandas as pd 
   
df = pd.DataFrame() 
print(df)
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks'] 
  
df = pd.DataFrame(lst) 
print(df)

Empty DataFrame
Columns: []
Index: []
        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [10]:
import pandas as pd

df = pd.read_csv(r"C:\Users\Varshini\OneDrive\Desktop\PDA\data.csv")
print(df.head())
print(df.columns)

   Unnamed: 0   name  age     city category  sales  a   b
0           0   John   25    Delhi        A    200  5  10
1           1   Riya   22   Mumbai        B    120  2   3
2           2   Aman   30     Pune        A    250  7   8
3           3   Neha   27  Kolkata        C    300  4   6
4           4  Arjun   35   Jaipur        B    200  1   9
Index(['Unnamed: 0', 'name', 'age', 'city', 'category', 'sales', 'a', 'b'], dtype='object')

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  13 non-null     int64
 1   name        10 non-null     object
 2   age         13 non-null     int64
 3   city        10 non-null     object
 4   category    10 non-null     object
 5   sales       13 non-null     int64
 6   a           13 non-null     int64
 7   b           13 non-null     int64
dtypes: int64(5), object(3)
memory usage: 964.0+ bytes
None

In [12]:
print(df.isnull().sum())
df = df.fillna(0)

Unnamed: 0    0
name          3
age           0
city          3
category      3
sales         0
a             0
b             0
dtype: int64

In [13]:
import pandas as pd 
s = pd.Series([10, 20, 30, 40])
s = pd.Series([85, 90, 78], index=["A", "B", "C"])
s[0]        
# Access first element 
s["A"]     # Access by label

C:\Users\Varshini\AppData\Local\Temp\ipykernel_15768\4251090675.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[0]

np.int64(85)

In [14]:
s.mean(), s.max(), s.min()

(np.float64(84.33333333333333), 90, 78)

In [15]:
data = { 
"Name": ["Amit", "Riya", "Karan"], 
"Marks": [85, 90, 78] 
} 
df = pd.DataFrame(data)
df["Name"]
df.loc[0] 
df.iloc[1]
df["Grade"] = ["A", "A+", "B"]
df.drop("Grade", axis=1)
df[df["Marks"] > 80]
df.describe()

           Marks
count   3.000000
mean   84.333333
std     6.027714
min    78.000000
25%    81.500000
50%    85.000000
75%    87.500000
max    90.000000